process{
  container = 'barryd237/test:dev'
  containerOptions = ' -B /data/'
}

params{
      input = "/data/test/test-datasets/fastq/*_{1,2}.fastq.gz"
      fasta = "/data/test/test-datasets/reference/chrI.fa"
      gtf   = "/data/test/test-datasets/reference/chrI.gtf"
      transcriptome = null
      kallisto_index = null
      outdir = "/data/test/"
      save_qc_intermediates = true
      save_transcriptome = true
      save_index = true
      run_qc = true
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/data/containers'
